.block {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.counter {
  width: 350px;
  border: 1px solid;
  height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.counterSetting {

}